@import "tailwindcss";

/* Animación hacia la izquierda */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

/* Animación hacia la derecha */
@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); } 
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  width: max-content;
  display: flex; 
  align-items: center;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
  width: max-content;
  display: flex; 
  align-items: center;
}

.label-pills-base {
  transition: all 0.3s ease-out;
  will-change: transform; 
}

.label-pills-base:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(100, 116, 139, 0.4); 
  color: #fff; 
}

html {
  scroll-behavior: smooth;
}